@{
    ViewData["Title"] = "DONUTS PAGE";
}

<div class="text-center">
    <h1 class="display-4">DONUTS</h1>
    <p>Daily selection varies by shop</p>
</div>

<div class="menu-options">
    <div class="type-button">ALL</div>
    <div class="type-button">ICED</div>
    <div class="type-button">GLAZED</div>
    <div class="type-button">FILLED</div>
    <div class="type-button">CAKE</div>
    <div class="type-button">CHOCOLATE</div>
</div>

<script>
    function onSelect() {

    }
</script>